
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body{

    font-family: "Merriweather", serif;

}
*{

    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* banner-section */

.banner-container{
    max-width: 1320px;
   min-height: 600px;
    /* border: 2px solid red; */
    margin:0 auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
 background-image: url("/new-year-offer-resources/images/Banner\ Image.png"); 
    border-radius: 16px;
 
  background-blend-mode: overlay; 

}
.banner-content{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    height:600px;

    
    }


.banner-content p, h1{

color:white;
font-size: 32px;
font-weight: 400px ;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 700;
}
.second-section-container{

width:802.9px;
height:806px;
/* border:2px solid red; */
margin:0 auto;
margin-top: 90px;


}
.second-section-content h1{
    color:#FF0000;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700px;

}
.second-section-content p{
    color:#FF0000;
    font-size: 24px;
    font-family: Inter;
    font-weight: medium;
}
.second-section-content h3{
    color:#070211;
    font-size: 48px;
    font-family: Inter;
    font-weight: bold;
}
.second-section-content{
    display:flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url("../new-year-offer-resources/images/New\ Year\ Photo.png"); */
}
.second-img{
    height:802.9px;
    width:500px;
}
/* .second-img img{
    height:100%;
    width:100%;
} */

.midnight-party-container{
    width:1320px;
    height:600px;
    /* border:2px solid red; */
    margin:0 auto;
    display:flex;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url("../new-year-offer-resources/images/Vectorrr.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
     background-blend-mode: overlay; 
     margin-top: 50px; 

}
.leftside-content{
width:50%;
height:600px;
/* border:2px solid  green; */
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:30px;
text-align: left;
}
.rightside-content{
    width:50%;
    height:600px;
    /* border:2px solid yellow;  */
    display:flex;
    justify-content:center;
    align-items: center;
   
    }
    .rightside-content img{
        width:320px;
        height:465px;
    }



 .leftside-content h1{
 /* width:50%;
height:600px;
/* border:2px solid  green; */
/* display:flex;
flex-direction: column;
justify-content: center;
align-items: center; */
color:#FFFFFF;
font-size: 64px;
font-weight: 900;
font-family: Merriweather;
    }
    
 .leftside-content p{

    color:#ffffff;
    font-size: 18px;
    font-weight: 300;
font-family: Inter;

 }
 #midnight-btn{
    
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
font-family: Inter;
margin-right: 500px;

}

.address-section-container{
    width:1320px;
    height:482px;
    /* border:2px solid yellow; */
    margin:0 auto;
    margin-top: 120px;
    display:flex;
    justify-content: center;
align-items: center;
background-color:rgba(255, 0, 0, 0.255);
background-blend-mode: overlay;

}


.address-section-content{
width:649px;
height:200px;
/* border:2px solid red; */
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.address-section-content button{
    margin-top: 48px;;
    border: none;
  background-color:#FF0000;
  border-radius: 5px;
}
.address-section-content button span{
    color:#FFFFFF;
    font-size: 20px;
font-family: Inter;
font-weight: bold;
/* border-radius: 10px; */

}
.address-section-content h4 span {
    color:red;
    font-size: 32px;
font-family: Inter;
font-weight: semi-bold;
/* border-radius: 5px; */

}
.address-section-content h4  {
    color:#070211;
        font-size: 32px;
    font-family: Inter;
    font-weight: semi-bold;
    /* border-radius: 5px; */
}

.offer-section-container{
    width:1320px;
    height:463px;
    /* border:2px solid red; */
    margin:0 auto;
    margin-top: 120px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.offer-section-content1{
    width: 33%;
    height:255px;
    /* border:2px solid yellow; */
     display: flex; 
     flex-direction: column; 
    justify-content: center;
    align-items: center;  


}
.offer-section-content2{
    width: 34%;
    height:463px;
    /* border:2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 


}
.offer-section-content3{
    width: 33%;
    height:310px;
    /* border:2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  


}
.subsection1 h5{
    font-size: 20px;
    font-weight: medium;
    font-family: Inter;
    color:#FF0000;
}
.subsection1 h1{
    font-size: 48px;
    font-weight: Black;
    font-family:Merriweather;
    color:#020211;
}
.subsection1 p{
    font-size: 15px;
    font-weight: Regular;
    font-family:Inter;
    color:rgba(7, 2, 17, 0.6);
    padding:5px;
}
.offer-section-content2 img{
    border:10px solid red;
     border-radius: 50%  ; 
    border-radius: 50% solid red; 
     padding: 38px;
}
.subsection1-content3 h1{
    font-size: 48px;
    font-weight: Bold;
    font-family: Inter;
    color:#FF0000;

}
.subsection1-content3 p{
    font-size: 20px;
    font-weight: Regular;
    font-family: Inter;
    color:rgba(7, 2, 17, 0.6);
}
.subsection1-content3 img{
    padding:40px;
   padding-left: 0%;
}
.holiday-section-container{
    width:1320px;
    height:986.07px;
    margin:0 auto;
    /* border:2px solid red; */
    margin-top: 120px;
    position: relative; 
    
}
 .holiday-text-container {
    width:1068px;
    height:260px;
    /* border:2 px solid blue; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.holiday-text-container h5{
    font-size: 22px;
    font-weight: medium;
    font-family: Inter;
    color:#070211;
}
.holiday-text-container h1{
    font-size: 72px;
    font-weight: black;
    font-family:Merriweather;
    color:#070211;
}
.holiday-text-container h1 span{
    color: #FF0000;
}
.holiday-text-container p{
font-size: 20px;
    font-weight: Medium;
    font-family: Inter;
    color:rgba(7, 2, 17, 0.6);
    
}
.solid-color{
    width:1320px;
    height:229px;
    background-image: url("../new-year-offer-resources/images/Rectangle\ 2.png");
 position: absolute;
    top:78%;
}
.gift-box{
    width:796.46px;
    height:662.07px;
    position: relative;
    z-index: 1;
   display:flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 67px;
   
  
}
.gift-box .discount-container{
padding-left: 215px;
padding-right: 0px;
width:305.69px;
height:305.69px;
}
.product-images-container{
    width:1320px;
    height:1163px;
    /* border:2px solid red; */
    margin:0 auto;
    margin-top:113.93px;

}
.product-images-description h5{
    font-size: 24px;
    font-weight: Medium;
    font-family: Inter;
    color:#FF0000;
    
}
.product-images-description h2{
    font-size: 40px;
    font-weight: black;
    font-family: Merriweather;
    color:#070211;
    padding:16px;
    padding-left: 0px;
}
.product-images-description p{
    font-size: 20px;
    font-weight:Regular;
    font-family:Inter;
    color:rgba(7, 2, 17, 0.6);
    padding:22px;
    padding-left: 0px;
}
.product-image{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}
.item1{
    width:424px;
    height:450px;
    margin-top: 48px;
}

.item2{
    width:424px;
    height:450px;
    margin-top: 48px;
}

.item3{
    width:424px;
    height:450px;
    margin-top: 48px;
}
.item4{
    width:424px;
    height:450px;
    margin-top: 24px;
}
.item5{
    width:424px;
    height:450px;
    margin-top: 24px;
}
.item6{
    width:424px;
    height:450px;
    margin-top: 24px;
}

.newsletter-container{
    width:1320px;
    height:616px;
    margin:0 auto;
    margin-top: 120.07px;
    /* border:2px solid blue;  */
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.255);;
} 
.newsletter-content{
    width:896px;
    height:336px;
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
}
.img{
width:150px;
height:150px;
padding-top: 0%;

}
.newsletter-description h2{
    font-size: 48px;
    font-weight: black;
    font-family: Merriweather;
    color:#070211;
    
}
.newsletter-description p{
    font-size: 18px;
    font-weight: Regular;
    font-family: Inter;
    color:rgba(7, 2, 17, 0.6);
    
}
.newsletter-address{
    width:648px;
    height:72px;
    /* border:2px solid yellow;  */
    display:flex;
    background-color: #ffffff;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}
.newsletter-address button{
    width:98px;
    height:24px;
    background-color: #FF0000;
    border-color: #FF0000;
}
.newsletter-address p{
    width:438px;
    font-size: 18px;
    font-weight: Regular;
    font-family: Inter;
    color:rgba(7, 2, 17, 0.6);
    display:flex;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
    
}
.newsletter-address span{
    font-size: 20px;
    font-weight: semi-bold;
    font-family: Inter;
    color:#FFFFFF;
    
    
}
.btn-part{
    width:210px;
    height:72px;
    background-color: #FF0000;
   border-top-right-radius: 15%;
   border-bottom-right-radius:10% ;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-section{
    width: 1600px;
    height:609px;
    margin-top: 119.93px;
 /* border:2px solid blueviolet; */
    background-color:#070211;
}
.footer-first-section{
    width:1185px;
    height:249.57px;
    /* border:2px solid blue; */
    margin-top: 120px;
    margin-left: 140px;
    margin-right:275px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.first-part{
color:#FFFFFF;
font-size: 24px;
font-family: Inter;
font-weight: medium;
}


.contact{
    display:flex;
    color:#FFFFFF;
}
.address{
    color:#FFFFFF;
    display:flex;
}
.social-icons{
    width:328px;
    height:64px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 642px;
    margin-right: 630px;
    margin-top: 80px;
    margin-bottom: 47px;
}
.footer-end-text{
    width:70%;
    margin:0 auto;
    margin-top: 98px;
    /* border:2px solid white; */
    display:flex;
    justify-content: space-between;
}
.hr{
    color:#070211;
}
.footer-end-text p{
    color:white;
    font-size: 24px;
    font-family: Inter;
    font-weight: Medium;
}